h1 {
  color: blue;
  text-align: center;
}

body {
  background: red;
}

h2 {
  color: blue;
  text-align: center;
}

img {
  img-align:center;
  
}
img {
  float: center;
}
img {
  border-radius: 50%;
}
img {
  filter: contrast(2000%);
}
