h1 {
  text-align: center;
  color: orange;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
li {
  display: inline;
}
a {
  color: orange;
  text-decoration: none;
}
ul:hover {
  background-color: blue;
}
table {
  color: orange;
}
h2 {
  color: orange;
  text-align: center;
  font-size: 100%;
}
.bballgif {
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
 
