h1{
  text-align: center;
  color:orange;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
li {
  display: inline;
}
a {
  color:orange;
  text-decoration:none;
}
ul:hover {
  background-color:blue;
}
table {
  color:orange;
}
h2 {
  color:orange;
  text-align: center;
  font-size:100%;
}
